
<footer class="sticky-bottom">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-3 col-md-3 col-lg-3">
        {{ page.footer_first }}
        <a href="https://www.uchicago.edu/" class="uchicago-wordmark">The University of Chicago</a>
      </div>
      <!-- End Column 1 -->

      <div class="col-sm-3 col-sm-3 col-md-3">
        <address>
          <a href="/"><b>Site Name</b></a><br>
          The University of Chicago<br>
          5801 South Ellis Avenue<br>
          Chicago, IL 60637
        </address>
      </div>
      <!-- End Column 2 -->

      <div class="col-sm-3 col-md-3 col-lg-3">
        <!--div class="container-inline" -->
        <!--div class="col-xs-6"-->
        {{ page.footer_second }}
        {{ page.footer_third }}
        <ul class="site-links uc">
          <li><a href="https://directory.uchicago.edu/">Directory</a></li>
          <li><a href="https://maps.uchicago.edu/">UChicago Maps</a></li>
          <li><a href="https://visit.uchicago.edu/">Visiting UChicago</a></li>
          <li><a href="https://giving.uchicago.edu/site/Donation2?df_id=1681&amp;mfc_pref=T&amp;1681.donation=form1">Make a Gift</a></li>
        </ul>
        <!--/div>
      </div-->
        <!-- End box row -->
      </div>
      <!-- End column 3 -->


      <div class="col-sm-3 col-md-3 col-lg-3 hidden-print">
        <ul class="social">
          <li><a href="https://facebook.com/#" class="ss-social-circle ss-icon">Facebook</a></li>
          <li><a href="https://twitter.com/#" class="ss-social-circle ss-icon">Twitter</a></li>
          <li><a href="https://youtube.com/#" class="ss-social-circle ss-icon">YouTube</a></li>
          <li><a href="https://linkedin.com/in/#" class="ss-social-circle ss-icon">LinkedIn</a></li>
        </ul>
        {{ page.footer_fourth }}
      </div>
      <!-- End Column 4 -->

    </div>
    <!-- End Footer Row 1 -->

    <div class="row">
      <div class="timestamp">
        <div class="col-md-12 col-lg-12">{{ page.copyright }}</div>
      </div>
      <!-- End Copyright -->
    </div>
    <!-- End Footer Row 2 -->

  </div>

</footer>
<!-- end Page footer -->
